<div class="u-clearfix u-sheet u-sheet-1">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1">WELCOME</h1>
    <p class="u-text u-text-body-alt-color u-text-2">Our website is under construction, but we are ready to go! Want to know more about us, tell us about your project or just to say hello? Drop us a line and we will get back as soon as possible.</p>
    <button class="btn btn-primary mr-2" (click)="registerToggle()">Register</button>

    <button type="button" class="btn btn-info">Learn More</button>
  </div>

  <div class="container" *ngIf="registerMode">
    <!--If we want to pass down proeprties to a child component we need to
      do whats done in between <app-register>.
      users is the property thats inside the home component.
      [] - Recieving data from a parent
      ()- Outputing data from a child-->
    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
  </div>

</div>
